
// .containerr {
//     box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2);
//     padding: 16px;
//     background-color: yellowgreen;
//     text-align: center;
//   }

.card-body
{
    background-color: #35333200;
    width: 100%;
    height: auto;
}

.card-title{
  color: rgb(255, 104, 4);
}
.card-group{
     padding: 16px;
     background-color: #35333200;
     text-align: justify;
     border-radius: 25px
}

.card{
  backdrop-filter: blur(10px);
  box-sizing: content-box;
  border-width: 1px;
  border-style: solid;
  background-color: #00000000;
  border-color: #be4a10;
  // border-image: linear-gradient(to right bottom, #d46012, #db5b11);
  // border-image-slice: 1;
  border-radius: 15px;
}

.card-text{
  color: rgb(255, 255, 255);
}

.Space{
  padding-bottom: 3%;
  padding-top: 3%;
}

