/* ===== FAQ CSS ===== */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

.ud-faq {
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: rgb(19, 17, 17);
  position: relative;
  z-index: 1;
  color: var(--white);

  @media #{$xs } {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

h2{
  color: var(--white);
  padding: 20px;
}

.ud-single-faq {
  background-color: rgba(78, 77, 77, 0.616);
  border: 1px solid rgba(255, 139, 30, 0.692);
  box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
  border-radius: 10px;
  margin-bottom: 30px;

  .ud-faq-btn {
    text-align: left;
    display: flex;
    width: 100%;
    align-items: center;
    border: none;
    background: transparent;

    font-weight: 600;
    font-size: 18px;
    color: var(--white);
    opacity: 0.88;
    padding: 30px;

    @media #{$lg, $xs} {
      padding: 15px;
    }

    &.collapsed {
      span.icon i {
        @include transform(rotate(0deg));
      }
    }
    button:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }

    &.collapse {
      span.icon i {
        @include transform(rotate(0deg));
      }
    }

    span.q-title{
      color: #d17b02;
    }

    span.q-title:hover{
      color: var(--primary-color);
    }

    span.icon {
      display: flex;
      align-items: center;
      width: 30px;
      height: 30px;
      background: rgba(48, 86, 211, 0.06);
      background-color: #191a18;
      border-radius: 5px;
      color: #d17b02;
      margin-right: 20px;
      padding: 5px;

      i {
        @include transform(rotate(180deg));
        transition: all 0.3s;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
  
  .ud-faq-body {
    padding: 0px 30px 40px 70px;
    text-align: justify;
    text-align-last: center;

    @media #{$lg, $xs} {
      padding: 0px 16px 20px 55px;
    }
  }
}
