/* ===== Header CSS ===== */
.ud-header {
    transition: all 0.3s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    @include transition(0.3s);
    font-weight: 500;

}

.sticky {
    position: fixed;
    z-index: 99;
    background-color: rgba(5, 5, 5, 0.7);
    backdrop-filter: blur(8px);
    @include box-shadow(inset 0 -1px 0 0 rgba(0, 0, 0, 0.2));
    @include transition(0.3s);

    & .navbar {
        padding: 4px;
    }
}

.navbar {
    padding: 12px;
    border-radius: 5px;
    position: relative;
    @include transition(0.3s);
}

.navbar-brand {
    padding: 0;

    @media #{$md, $xs} {
        padding: 5px 0;
    }

    img {
        max-width: 80px;
    }
}

.navbar-toggler {
    padding: 0;

    & .toggler-icon {
        width: 30px;
        height: 2px;
        background-color: white;
        display: block;
        margin: 5px 0;
        position: relative;
        @include transition(0.3s);
    }

    &.active {
        & .toggler-icon {
            &:nth-of-type(1) {
                @include transform(rotate(45deg));
                top: 7px;
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:nth-of-type(3) {
                @include transform(rotate(135deg));
                top: -7px;
            }
        }
    }
}

.navbar-collapse {
    @media #{$md, $xs} {
        position: absolute;
        top: 100%;
        right: 0;
        max-width: 300px;
        width: 100%;
        background-color: rgba(12, 12, 12, 1); //color after clicking toggle button
        z-index: 9;
        @include box-shadow(0px 15px 20px 0px rgba(0, 0, 0, 0.1));
        padding: 0;
        display: none;
        border-radius: 5px;

        &.show {
            display: block;
        }
    }
}

.navbar-nav {
    @media #{$md, $xs} {
        padding: 30px 30px;
    }

    & .nav-item {
        position: relative;
        padding: 0 20px;

        @media #{$lg} {
            padding: 0 12px;
        }

        @media #{$md, $xs} {
            padding: 0;
        }

        & > a {
            font-size: 16px;
            font-weight: 400;
            color: white; // nav item colors
            @include transition(0.3s);
            padding: 20px 8px;
            position: relative;

            @media #{$md, $xs} {
                display: block;
                padding: 8px 0;
                color: rgb(250, 250, 250); //color of toggle menu - TOP
            }

            &:hover,
            &.active {
                color: #ff6600;
                opacity: 0.5;

                @media #{$md, $xs} {
                    color: #ff6600;
                    opacity: 1;
                }
            }
        }

        .ud-submenu {
            position: absolute;
            width: 250px;
            background: #ffffff; //color of reg btn - TOP
            top: 110%;
            padding: 20px 30px;
            box-shadow: 0 15px 44px rgba(16, 16, 16, 0.18);
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);

            @media #{$md, $xs} {
                position: static;
                box-shadow: none;
                width: 100%;
                padding: 0;
                opacity: 1;
                visibility: visible;
                display: none;
            }

            &.show {
                display: block;
            }

            .ud-submenu-link {
                padding: 7px 0;
                color: #ffffff; //
                font-size: 14px;

                &:hover {
                    color: #ff6600; //
                }
            }
        }

        &:hover {
            & > a {
                color: #ff6600; //navitem hover : TOP
                opacity: 0.5;

                @media #{$md, $xs} {
                    color: #ff6600; //navitem hover : TOP
                    opacity: 1;
                }
            }

            & > .ud-submenu {
                opacity: 1;
                visibility: visible;
                top: 100%;
            }
        }

        &.nav-item-has-children {
            & > a {
                position: relative;

                &::after {
                    content: "";
                    box-sizing: border-box;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-bottom: 2px solid;
                    border-right: 2px solid;
                    transform: rotate(45deg) translateY(-50%);
                    right: -15px;
                    top: 50%;
                    margin-top: -2px;

                    @media #{$md, $xs} {
                        right: 5px;
                    }
                }
            }
        }
    }
}

.navbar-btn {
    @media #{$md, $xs} {
        position: absolute;
        top: 50%;
        right: 50px;
        @include transform(translateY(-50%));
    }

    .ud-main-btn {
        padding: 8px 16px;
        background: transparent;
    }

    .ud-login-btn {
        &:hover {
            opacity: 0.5;
        }
    }

    .ud-white-btn {
        background: #ff6600; // register button

        &:hover {
            background: black; //register bgclolor  hovers : TOP
            color: #ff6600; //register txtcolor hovers : TOP
        }
    }
}

.sticky {
    & .navbar-toggler {
        & .toggler-icon {
            background-color: rgb(255, 255, 255); //toggle btn 3 lines
        }
    }

    & .navbar-nav {
        & .nav-item {
            &:hover {
                & > a {
                    color: #ff6600; //nav item hover : not top
                    opacity: 1;
                }
            }

            & a {
                color: rgb(255, 255, 255); //nav item hover : not top
                font-weight: 500;

                &.active,
                &:hover {
                    color: #ff6600; //nav item active hover : not top
                    opacity: 1;
                }
            }
        }
    }

    .navbar-btn {
        .ud-main-btn {
            &.ud-login-btn {
                color: #ff6600;

                &:hover {
                    color: #ff6600;
                    opacity: 1;
                }
            }
        }

        .ud-white-btn {
            background: #ff6600; //register btn bgcolor  : not top
            color: white; //register btn txtcolor  : not top

            &:hover {
                background: white; //register btn bgcolor hovers : not top
                color: #ff6600; //register btn txtcolor hovers : not top
            }
        }
    }
}
